@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.maindex {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;

}

.maindex h2 {
    font-size: 1.2em;
    margin-bottom: 25px;
    color: #ffde00;
    text-shadow: 3px 3px 2px #3B4CCA;
    display: inline-block;
    border-bottom: 3px solid #ffde00;
    font-family: 'Press Start 2P', cursive;
}

.pokeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    justify-items: center;
}

.pokemon {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 200px;
    padding: 20px 10px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    border: 3px solid #4a8b8b;
}

.pokemon:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.imgContainer {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer img {
    width: 90px;
    height: auto;
}

.info {
    text-align: center;
    font-size: 0.65em;
    color: #444;
}

.info p {
    margin: 8px 0;
    line-height: 1.6;
}

.info p:first-of-type {
    color: #063358;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.info p:nth-of-type(2) {
    display: inline-block;
    background: #e8f0ff;
    border-radius: 12px;
    padding: 6px;
    font-size: 0.7em;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05);
}

.fire {
    background-color: #ffd6d6;
}

.water {
    background-color: #d6ecff;
}

.electric {
    background-color: #fff7cc;
}

.grass {
    background-color: #d9ffd9;
}

.ice {
    background-color: #e0f9ff;
}

.rock {
    background-color: #e6e0d1;
}

.ground {
    background-color: #f5e3c3;
}

.bug {
    background-color: #eaffd4;
}

.poison {
    background-color: #f0dcff;
}

.psychic {
    background-color: #ffd1f2;
}

.normal {
    background-color: #f2f2f2;
}

.flying {
    background-color: #e4f0ff;
}

.ghost {
    background-color: #ebe0ff;
}

.dragon {
    background-color: #d8e0ff;
}

.steel {
    background-color: #e2e5ee;
}

.shiny p:first-of-type {
    color: rgb(236, 202, 9);
    text-shadow: 1px 1px 0 yellow;
    font-size: 0.9em;
    letter-spacing: 1px;
}