* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    line-height: 1.6;
}

.top {
    text-align: center;
    padding: 40px 20px;
    text-shadow: 3px 3px 2px #3B4CCA;

    background-image: url('../img/pokemon_banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.top h1 {
    font-size: 40px;
    color: #ffde00;
    text-shadow: 2px 2px 3px #3B4CCA, -2px -2px 3px #3B4CCA, 0 0 15px rgba(255, 255, 255, 0.8);
}

.menu {
    position: sticky;
    top: 0;
    z-index: 1000;

    background-image: url('../img/pokemon_banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.6), 0 4px 6px rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #ffde00;
    padding: 10px 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;

    gap: 40px;
    padding: 0;
    margin: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 1px 1px 1px #3B4CCA;
}

.menu a:hover {
    color: #ffde00;
}

.footer {
    text-align: center;
    padding: 25px 20px;
    margin-top: 40px;

    border-top: 3px solid #ffde00;
    background-image: url('../img/pokemon_banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.footer h5 {
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 2px #3B4CCA;
}

.games {
    padding: 20px;
    text-align: center;
}

.games h2 {
    font-size: 1.8em;
    margin-bottom: 25px;
    color: #ffde00;
    text-shadow: 3px 3px 2px #3B4CCA;
    display: inline-block;
    border-bottom: 3px solid #ffde00;
}

.games ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.games li {
    background-color: #101c27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.games li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.games li img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.games ul li a {
    display: block;
    text-decoration: none;
    color: #f8f8f8;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.games ul li a:hover {
    color: #ffde00;
}

.game-title {
    display: block;
    max-width: 350px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 2rem;
    margin-top: 1.2em;
}

.trainerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background: linear-gradient(135deg, #f8f9fa, #e0e0e0);
    border: 3px solid #333;
    border-radius: 15px;
    padding: 20px;
    width: 600px;
    margin: 20px auto;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    font-family: Verdana, sans-serif;
}

.trainerDisplay {
    text-align: center;
}

.trainerDisplay p {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 18px;
}

.trainerDisplay img {
    width: 120px;

    border: 1px solid #333;
    border-radius: 50%;
    background-color: #e0e0e6;
}

.trainer-info {
    flex: 1;
}

.trainer-info p {
    margin: 6px 0;
    font-size: 14px;
}

.badges {
    margin-top: 10px;
    border-top: 1px solid rgb(189, 185, 185);
}

.badges img {
    width: 40px;
    height: 40px;
    margin: 10px 3px 3px;
    background-color: #e0e0e6;
    border: 1px solid #333;
    border-radius: 50%;
    transition: transform 0.2s;
}

.badges img:hover {
    transform: scale(1.2);
}

.timePrincipal {
    margin: 20px auto;
    padding: 20px;
    width: 700px;
    background-color: #e0e0e6;
    border: 3px solid #444;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.timePrincipal ol {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.timePrincipal li {
    background: #fff;
    border: 2px solid #aaa;
    border-radius: 12px;
    text-align: center;
    font-size: 13px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.timePrincipal li:hover {
    transform: scale(1.05);
}

.timePrincipal li img {
    width: 80px;
}

.atacks {
    margin-top: 10px;
    font-weight: bold;
    font-size: 12px;
}

.atacks ul {
    list-style: none;
    padding: 0;
    margin: 5px 0;
}

.atacks li {
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.atacks li img{
    margin-left: auto;
}

.title {
    text-align: center;
}

.title h3{
    font-size: 1.8em;
    margin-top: 20px;
    color: #ffde00;
    text-shadow: 3px 3px 2px #3B4CCA;
    display: inline-block;
    border-bottom: 3px solid #ffde00;
}