@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    line-height: 1.6;
}

.top {
    text-align: center;
    padding: 40px 20px;
    text-shadow: 3px 3px 2px #3B4CCA;

    background-image: url('../img/pokemon_banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.top h1 {
    font-size: 28px;
    color: #ffde00;
    text-shadow: 2px 2px 3px #3B4CCA, -2px -2px 3px #3B4CCA, 0 0 15px rgba(255, 255, 255, 0.8);
    font-family: 'Press Start 2P', cursive;
}

.menu {
    background-image: url('../img/pokemon_banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.6), 0 4px 6px rgba(0, 0, 0, 0.4);
    border-bottom: 3px solid #ffde00;
    padding: 10px 0;
    font-family: 'Press Start 2P', cursive;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;

    gap: 40px;
    padding: 0;
    margin: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 1px 1px 1px #3B4CCA;
    font-size: 10px;
}

.menu a:hover {
    color: #ffde00;
}

#footer-placeholder {
    text-align: center;
    padding: 25px 20px;
    margin-top: 40px;

    border-top: 3px solid #ffde00;
    background-image: url('../img/pokemon_banner.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

#footer-placeholder h5 {
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 2px #3B4CCA;
}

.games {
    padding: 20px;
    text-align: center;
}

.games h2 {
    font-size: 0.9em;
    margin-bottom: 25px;
    color: #ffde00;
    text-shadow: 3px 3px 2px #3B4CCA;
    display: inline-block;
    border-bottom: 3px solid #ffde00;
    font-family: 'Press Start 2P', cursive;
}

.games ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.games li {
    background-color: #101c27;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.games li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.games li img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}

.games ul li a {
    display: block;
    text-decoration: none;
    color: #f8f8f8;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.games ul li a:hover {
    color: #ffde00;
}

.game-title {
    display: block;
    max-width: 350px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 2rem;
    margin-top: 1.2em;
}